@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.regras{
    text-align: center;
    margin-left:9%;
    margin-right: 9%;
    margin-top: 3%;
    font-family: "Nanum Gothic";
}
h1{
    font-family: "Nanum Gothic";
}
